.submission-form{
    padding: 5%;
}

.post-container{
    display: flex;
    margin-top: 1vh;
    margin-bottom: 1vh;
    align-items: center;
    flex-direction: column;
}

.flash-container{
    text-align: center;
    margin-top: 0.2vh;
    width: max-content;
}

.post-sig{
    margin-right: 5px;
}

.post-sig a{
    text-decoration: none;
}

.no-decor{
    text-decoration: none;
    color: black;
    transition: color 250ms;
}

.no-decor:hover{
    color: #4285F4
}

.h1-center{
    margin-top: 1vh;
    text-align: center;
}

.view50{
    width: 50vw;
}