{% extends 'base.html' %}

{% block title %}User - Edit{% endblock %}

{% block content %}
<div class="container">

<form action="/users/{{user.id}}/edit" method="POST" class="submission-form">
    <h1>Edit User</h1>
    <hr>
    <div class="form-group">
        <label for="first-name">First Name</label>
        <input type="text" name="first-name" placeholder="Enter a first name" maxlength=20 value={{user.first_name}}>
    </div>
    <br>
    <div class="form-group">
        <label for="last-name">Last Name</label>
        <input type="text" name="last-name" placeholder="Enter a last name" maxlength=20 value={{user.last_name}}>
    </div>
    <br>
    <div class="form-group">
        <label for="image-url">Image URL</label>
        <input type="text" name="image-url" placeholder="Provide an image of this user" value={{image_path}}>
    </div>
    <br>
    <a href="/users/{{user.id}}"><button type="button" class="btn btn-outline-secondary">Cancel</button></a></button>
    <button class="btn btn-success">Save</button>
</form>
</div>
{% endblock %}