{% extends 'base.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
<div class="post-container">
<div class="card" style="width: 50vw">
    <div class="card-header"><h5>{{post.title}}</h5></div>
    <div class="card-body">
        <p class="card-text">{{post.content}}</p>
    </div>
    <br>
    <div class="text-muted align-self-end">
        {% if post.poster %}
        <i class="post-sig">Posted by: <a href="/users/{{post.poster.id}}">{{post.poster.full_name}}</a> on {{post.create_date}}</i>
        {% else %}
        <i class="post-sig">Posted by: [deleted user] on {{post.create_date}}</i>
        {% endif %}
    </div>
    <br>
    <form>
        <div>
        <button formmethod="GET" formaction="/posts/{{post.id}}/edit" class="form-control btn btn-outline-primary btn-sm">Edit</button>
        <button formmethod="POST" formaction="/posts/{{post.id}}/delete" class="form-control btn btn-outline-danger btn-sm">Delete</button>
        <button formmethod="GET" formaction="/" class="form-control btn btn-outline-dark btn-sm">Return</button>
        </div>
    </form>
</div>
</div>
{% endblock %}