{% extends 'base.html' %}

{% block title %}Tag - {{tag.name.title()}}{% endblock %}
{% block content %}
<div class="container view50">
    <br>
    <div class="d-flex justify-content-between">
    <form id="tag-edit-form">
        <input class="form-control" type="text" name="tag-name" value="{{tag.name}}" size=10 maxlength=12>
    </form>
    <div class="align-self-end">
        <button form="tag-edit-form" formaction="/tags/{{tag.id}}/edit" formmethod="POST" class="btn btn-sm btn-success">Save</button>
        <a class="btn btn-sm btn-secondary" href="/tags/{{tag.id}}">Cancel</a>
        <a class="btn btn-sm btn-outline-secondary" href="/tags">Return</a>
    </div>
    </div>
    <hr>
    {% if tag.posts %}
    <h4>Posts:</h4>
    <ul class="list-group">
        {% for post in tag.posts %}
        {% if loop.index % 2 != 0 %}
        <li class="list-group-item list-group-item d-flex justify-content-between align-items-center">
            <a class="no-decor" href="/posts/{{post.id}}">{{post.title}}</a>
            <small class="text-muted">
                Posted by: {{post.poster.full_name}} on {{post.create_date}}
            </small>
        </li>
        {% else %}
        <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
            <a class="no-decor" href="/posts/{{post.id}}">{{post.title}}</a>
            <small class="text-muted">
                Posted by: {{post.poster.full_name}} on {{post.create_date}}
            </small>
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {% endif %}
</div>
<script>
    document.getElementById("nav-tags").classList.add('active')
</script>
{% endblock %}