{% extends 'base.html' %}

{% block title %}Tag Directory{% endblock %}

{% block content %}
<div class="container view50">
<h1 class="h1-center">Tags</h1>
<ul class="list-group">
    {% for tag in tags %}
    {% if loop.index % 2 != 0 %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a class="no-decor" href="/tags/{{tag.id}}"><h4>{{tag.name}}</h4></a>
        <div class="ml-auto p-2">
            <a class="btn btn-primary btn-sm" href="/tags/{{tag.id}}/edit">Edit</a>
            <a class="btn btn-danger btn-sm" href="/tags/{{tag.id}}/delete">Delete</a>
        </div>
    </li>
    {% else %}
    <li class="list-group-item list-group-item-secondary d-flex justify-content-between align-items-center">
        <a class="no-decor" href="/tags/{{tag.id}}"><h4>{{tag.name}}</h4></a>
        <div class="ml-auto p-2">
            <a class="btn btn-primary btn-sm" href="/tags/{{tag.id}}/edit">Edit</a>
            <a class="btn btn-danger btn-sm" href="/tags/{{tag.id}}/delete">Delete</a>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>

<script>
    document.getElementById("nav-tags").classList.add('active')
</script>
{% endblock %}