{% extends 'base.html' %}

{% block title %}User - {{user.full_name}}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

    <div class="col-sm-2 col-6">
        <img src="{{user.image_url}}" alt="profile-image" class="img-fluid">
    </div>

    <div class="col-sm-10 col-12"   >
        <h2>{{user.full_name}}</h2>
        <form>
            <button class="btn btn-primary btn-sm"
            formaction="/users/{{user.id}}/edit"
            formmethod="GET">
                Edit
            </button>
            <button class="btn btn-danger btn-sm"
            formaction=/users/{{user.id}}/delete
            formmethod="POST">
                Delete
            </button>
        </form>
        
        {% if user.posts %}
        <h3 class="mt-4">Posts</h3>
        <ul>
            {% for post in user.posts %}
                <li><a href="/posts/{{post.id}}">{{post.title}}</a>
                    <small>{{ post.create_date}}</small>
                </li>
            {% endfor %}
        </ul>
        {% endif %}
        <br>
        <a href="/users/{{user.id}}/posts/new" class="btn btn-primary">Add Post</a>
        <a href="/users" class="btn btn-outline-secondary">Return</a>
    </div>
    </div>
</div>
<script>
    document.getElementById("nav-users").classList.add('active')
</script>
{% endblock %}